<%= form_for @category, :html => {:class => 'row'} do |f| %>
  
  <%= render 'layouts/form_errors', :element => @category %>

  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %><br>
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :parent_id, "Parent Category", :class => 'control-label' %><br>
      <%= f.select :parent_id, nested_set_options(Category, @category){|i| "#{'-' * i.level} #{i.name}" }, {:include_blank => true}, {:class => "form-control"} %>
    </div>

    <%= clear nil, :height => 20 %>

    <div class="additional-fields">
      <h3> Additional fields </h3>

      <% if @category.additional_fields %>
        <% @category.additional_fields.try(:each) do |key, value| %>
          <%= render :partial => "additional_field", :locals => { :key => key, :value => value } %>
        <% end %>
      <% else %>
        <%= render :partial => "additional_field", :locals => { :key => nil, :value => nil } %>
      <% end %>

    </div>

    <%= link_to "Add field", edit_category_path(@category), :class => "btn btn-success add-field right", :remote => true %>

    <%= clear %>
    
    <div class="actions">
      <%= f.submit 'Save', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
