<div class="catalog">
  <%= breadcrumbs(@category) %>
  <h1>Listing products</h1> 

  <%= render :partial => '/shared/search_form' %>

  <% if @products.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Additional fields</th>
          <th>Category</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= link_to product.name, product %></td>
            <td><%= product.description %></td>
            <td>
              <ul class="list-unstyled">
                <% product.additional_fields.each do |key, value| %>
                  <li> <%= "#{key}: #{value}" unless value.blank? %> </li>
                <% end %>
              </ul>
            </td>
            <td><%= product.categories.map{|category| link_to category.name, products_path(:category => category.slug)}.join(", ").html_safe %></td>
            <td><%= number_to_currency product.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% else %>
      <h2 class="empty-here"> Empty here... </h2>
  <% end %>

  <br>
  
  <%= will_paginate @products, :next_label => 'Next', :previous_label => 'Previous', :renderer => BootstrapPagination::Rails, :class => "right"  %>

  <br>
  <%= link_to 'New Product', new_product_path %>
</div>